/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box; /*respect the width of the box, apply padding or border within the width it's been given not in addition to it*/
    max-width:100%; /*Makes it so that elements can never be bigger than their parents, stops the horizontal scroll bar*/
    padding:0;
    margin:0;
   
}

/*General Styles*/

a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    text-align: center;
}
/*General Styles*/
html{
    font-size:62.5%; /*default browser font-size is 16px, this makes it so that 1rem === 10px (easier math) it also gives the user control over bumping up or down the font size because % is a scalable unit of measurement*/
}
body{
    font-size:1.8rem; /*setting the font size back to 18px*/
    line-height:1.5; /*no unit of measurement, it take the font size and multiplies it by this number to add space between lines*/
    color:#4F4F4F; 
    background-color:white;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;

}
h1, h2, h3{
    font-family: 'Oxygen', sans-serif;
    text-align:center;
}
h1{
    color:black;
    font-size:5rem;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size:2.5rem;
}
button{
    background-color:white;
    padding:.25% 1%;
    font-size:1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
}
section{
    padding:4% 0;
}

/*Header Section Styles*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(219, 219, 219);
    
}
.links{
    display: flex;
    justify-content: space-between;
    width:20%;
    padding-left: 2%;
    
}
.links a{
    width: 25%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

h1{
    display:flex;
    justify-content: flex-start;
    padding-left: 1%;
}

/*Styling the first section of the middle*/
.bgimg{
    width:300px;
    height: 300px;
}
.bgimg{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}


/*Styling the second section of the middle*/
.street{
    background-image: url('../img/street.jpeg')
}
.fordgt{
    background-image: url('../img/fordgt.jpeg')
}
.newyork{
    background-image: url('../img/newyork.jpeg')
}
.chapel{
    background-image: url('../img/chapel.jpeg')
}
.condo{
    background-image: url('../img/condo.jpeg')
}
.fleet{
    background-image: url('../img/fleet.jpeg')
}
.suit{
    background-image: url('../img/suit.jpeg')
}
.watch{
    background-image: url('../img/watch.jpeg')
}

.middle{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
.middle{
    padding: 10% 15%;
}

/*bmw img and text*/
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top div{
    display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}
.top button{
    width: 15%;
    margin-left: 40%;
    border: .25rem solid black;
}

#contact{
    display: flex;
    justify-content: center;
}

#contact{
    background-color:rgb(219, 219, 219);
    display: flex;
    justify-content: 
}

#contact button{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: .25rem solid black;
    
}

/* CSS stuff responsive design
360x640
1366x768
1920x1080

*/ 
@media (min-width: 360px), (min-height: 640px) {
    
    .links{
        width: 80%;
    }
    #home button{
        width: 70%;
        margin-left: 10%;
    }

}

